<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tailwind Demo</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body class="p-3">
    <h1 class="font-bold text-xl">Tailwind and daisyUI Demo</h1>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
        <div class="card bg-base-100 shadow-xl">
            <figure><img src="/images/cottage1.jpg" alt="Cottage" /></figure>
            <div class="card-body">
                <h2 class="card-title">Cottage Name</h2>
                <p>This is a description about the cottage. It is very nice and cozy. You will love it.</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Rent</button>
                </div>
            </div>
        </div>
        <div class="card bg-base-100 shadow-xl">
            <figure><img src="/images/cottage2.jpg" alt="Cottage" /></figure>
            <div class="card-body">
                <h2 class="card-title">Cottage Name</h2>
                <p>This is a description about the cottage. It is very nice and cozy. You will love it.</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Rent</button>
                </div>
            </div>
        </div>
        <div class="card bg-base-100 shadow-xl">
            <figure><img src="/images/cottage3.jpg" alt="Cottage" /></figure>
            <div class="card-body">
                <h2 class="card-title">Cottage Name</h2>
                <p>This is a description about the cottage. It is very nice and cozy. You will love it.</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Rent</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>