<!doctype html>
<html>
<head>
    <title><%= title %> - Employee Database</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <%- include('../partials/welcome') %>
    <%- body %>
</body>
</html>