<!DOCTYPE html>
<html>

<head>
    <title>Basic Express Project</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
    <h1>Welcome to my website</h1>
    <p>Be sure to check out the <a href="/headers">headers page</a>.</p>

    <img src="/images/red-car.jpg" alt="A picture of a red car" />

    <p>
        <button type="button" id="hello-button" onclick="sayHello('Nick')">Say Hello</button>
        <label id="hello-label"></label>
    </p>
    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>