<h2>Employee List</h2>

<table border='1'>
    <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Age</th>
        <th>Occupation</th>
        <th>Company</th>
    </tr>
    <% if (employees && employees.length > 0) { %>
        <% employees.forEach(employee => { %>
            <%- include("../partials/employee", employee) %>
        <% }); %>
    <% } else { %>
        <tr>
            <td colspan="5">There are no employees to show.</td>
        </tr>
    <% } %>
</table>
