<strong>All Names</strong><br />
<ul style="font-size: small">
   <li>To <strong>change</strong> a name, make the change and click &ldquo;Update&rdquo;</li>
   <li>To <strong>remove</strong> a name, clear out both fields and click &ldquo;Update&rdquo; </li>
   <li>To <strong>add</strong> a name, enter a new name in the empty fields and click &ldquo;Add New&rdquo;</li>
</ul>
<% if (names && names.length > 0) { %>
	<% names.forEach(name => { %>
		<div>
			<form method="post" action="updateName">
				<input type="hidden" name="id" value="<%= name.id %>" />
				<table>
					<tr>
						<td><input type="text" name="fName" value="<%= name.fName %>" /></td>
						<td><input type="text" name="lName" value="<%= name.lName %>" /></td>
						<td><button type="submit">Update</button></td>
					</tr>
				</table>
			</form>
		</div>
	<% }); %>
<% } %>
<form method="post" action="addName">
	<table>
		<tr>
			<td><input type="text" name="fName" value="" placeholder="First" /></td>
			<td><input type="text" name="lName" value="" placeholder="Last" /></td>
			<td><button type="submit">Add New</button></td>
		</tr>
	</table>
</form>
