<h1>Welcome to WEB322</h1>

<p>Visit the <a href="/">home page</a>.</p>
<p>Visit the <a href="/about">about page</a>.</p>
<p>Visit the <a href="/employees">employee list page</a>.</p>
<p>Visit the <a href="/employees/visible">visible employee list page</a>.</p>